page-login {
    .app-icon-container {
        padding-top: 44px;
        padding-bottom: 44px;
    }

    .app-icon-zoom {
        zoom: 4.0;
    }

    .login-btn {
        padding-top: 40px;
    }

    ion-item.item-block {
        background-color: transparent;

        div.item-inner {
            border-bottom-color: white !important;
        }
    }
}
