page-sell {
    ion-footer {
        .toolbar-background {
            @include linear-gradient(left, $facebook-messenger);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }

        .button {
            color: white;
        }
    }
}
