<ion-header>
  <ion-navbar>
    <ion-title>
      Sell
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="openModal()">
        <ion-icon name="ios-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Sale Listings
    </ion-list-header>
    <ion-item *ngFor="let product of productList | async | userProductFilter: 'MANAGE' | prodFilter: 'buy'" detail-push (click)="showProductPage(product)">
      <div>
        <h2>{{ product.name }}</h2>
        <h3>{{ product.number }} available</h3>
        <p>Sold by {{ product.seller }}</p>
      </div>
      
      <h2 item-end>{{ product.price | currency: 'USD' }}</h2>
    </ion-item>

    <ion-list-header>
      Trade Listings
    </ion-list-header>
    <ion-item *ngFor="let product of productList | async | userProductFilter: 'MANAGE' | prodFilter: 'trade'" detail-push (click)="showProductPage(product)">
      <div>
        <h2>{{ product.name }}</h2>
        <h3>{{ product.number }} available</h3>
        <p>Sold by {{ product.seller }}</p>
      </div>
      
      <h2 item-end>{{ product.price | currency: 'USD' }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
