<ion-header>

  <ion-navbar>
    <ion-title>{{ product.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngIf="showBuyContent">
    <ion-card-header *ngIf="!isTradeListing">
      Buy this product
    </ion-card-header>
    <ion-card-content *ngIf="!isTradeListing">
      <ion-row>
        <ion-col>Name</ion-col>
        <ion-col>{{ product.name }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>Price</ion-col>
        <ion-col>{{ product.price }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>No. Available</ion-col>
        <ion-col>{{ product.number }}</ion-col>
      </ion-row>

      <form [formGroup]="buyForm">
        <ion-item>
          <ion-label>Quantity</ion-label>
          <ion-input type="number" [formControl]="buyForm.controls['quantity']" [min]="0" [max]="product.number" (keyup)="calcTotal()"></ion-input>
        </ion-item>
      </form>
      
      <ion-row>
        <ion-col>Total</ion-col>
        <ion-col>{{ total }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          <button ion-button block [disabled]="!buyForm.valid" (click)="buy()">
            Buy
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-card-header *ngIf="isTradeListing">
      Trade for this product
    </ion-card-header>
    <ion-card-content *ngIf="isTradeListing">
        <ion-row>
          <ion-col>Name</ion-col>
          <ion-col>{{ product.name }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>Trading for</ion-col>
          <ion-col>{{ product.tradeFor }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-center>
            <button ion-button block [disabled]="!tradeValid" (click)="trade()">
              Trade
            </button>
          </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showEditContent">
    <ion-card-header>
      Edit this listing
    </ion-card-header>

    <ion-card-content *ngIf="!isTradeListing">
      <form [formGroup]="editForm">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input type="text" [formControl]="editForm.controls['name']"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Price</ion-label>
          <ion-input type="number" [formControl]="editForm.controls['price']"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Quantity</ion-label>
          <ion-input type="number" [formControl]="editForm.controls['quantity']"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col text-center>
            <button ion-button block [disabled]="!editForm.valid" (click)="edit()">
              Edit
            </button>
          </ion-col>

          <ion-col text-center>
            <button ion-button block color="danger" (click)="remove()">Delete</button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>

    <ion-card-content *ngIf="isTradeListing">
        <form [formGroup]="editForm">
          <ion-item>
            <ion-label>Name</ion-label>
            <ion-input type="text" [formControl]="editForm.controls['name']"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label>Trading for</ion-label>
            <ion-input type="text" [formControl]="editForm.controls['tradeFor']"></ion-input>
          </ion-item>
  
          <ion-row>
            <ion-col text-center>
              <button ion-button block [disabled]="!editForm.valid" (click)="edit()">
                Edit
              </button>
            </ion-col>
  
            <ion-col text-center>
              <button ion-button block color="danger" (click)="remove()">Delete</button>
            </ion-col>
          </ion-row>
        </form>      
    </ion-card-content>
  </ion-card>
</ion-content>
