<ion-header>

  <ion-navbar>
    <ion-title>{{ product.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngIf="showBuyContent">
    <ion-card-header>
      Buy this product
    </ion-card-header>

    <ion-card-content>
      buy content here
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showEditContent">
    <ion-card-header>
      Edit this listing
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="editForm">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input type="text" [formControl]="editForm.controls['name']"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Price</ion-label>
          <ion-input type="number" [formControl]="editForm.controls['price']"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Quantity</ion-label>
          <ion-input type="number" [formControl]="editForm.controls['quantity']"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col text-center>
            <button ion-button block [disabled]="!editForm.valid" (click)="edit()">
              Edit
            </button>
          </ion-col>

          <ion-col text-center>
            <button ion-button block color="danger" (click)="remove()">Delete</button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
