page-signup {
    .app-icon-container {
        padding-top: 44px;
        padding-bottom: 44px;
    }

    .app-icon-zoom {
        zoom: 4.0;
    }

    .signup-btn {
        padding-top: 40px;
    }

    ion-item.item-block {
        background-color: transparent;

        div.item-inner {
            border-bottom-color: white !important;

            ion-label, ion-label[floating] {
                color: white;
            }
        }
    }

    .validator-error {
        color: color($colors, light);
        padding-top: 16px;
        padding-left: 16px;
        font-size: 14px;
        line-height: 14px;
    }
}
